<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="rules">
  <div class="rules__title">Rules</div>
  <div class="rules__list">
    <div>All the variables are equal to values between 1 and the number of variables in the puzzle.</div>
    <div>None of the variables are equal to each other.</div>
    <div>Click on a square to turn it red or green: red marks an exclusion, green marks a solution.</div>
  </div>
</div>
<div class="main-wrap">
  <div class="main">
    <div>
      <div class="numbers"></div>
      <div class="letters-and-grid">
        <div class="letters"></div>
        <div class="grid" id="grid-table-container">
          <app-table-cells></app-table-cells>
        </div>
      </div>
    </div>
    <div class="clues"></div>
  </div>
  <div class="buttons">
    <button (click)="decrease($event)" [disabled]="this.tableSolutionsService.dimension <= 3">-</button>
    <div><span class="size">{{this.tableSolutionsService.dimension}}</span>x<span class="size">{{this.tableSolutionsService.dimension}}</span></div>
    <button (click)="increase($event)" [disabled]="this.tableSolutionsService.dimension >= 10">+</button>
  </div>
  <div class="buttons">
    <button (click)="init($event)">New</button>
    <button (click)="check($event)">Check</button>
    <button (click)="reset($event)">Reset</button>
  </div>
  <div class="alert"></div>
</div>
<script src="../main.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />