.main {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    justify-content: space-between;
}

.clue {
    font-size: medium;
}

.clues {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}