<div class="centering-grid">


    <div>

        <div class="header-table">
            <div class="number" style="width: 2rem; height: 2rem;"></div>
            <ng-container *ngFor="let number of this.tableSolutionsService.letters; let rowIndex = index">
                <div class="number" style="width: 2rem; height: 2rem;">{{rowIndex + 1}}</div>
            </ng-container>
        </div>

        <div *ngFor="let row of this.tableSolutionsService.letters; let rowIndex = index">
            <div class="row">
                <div class="number" style="width: 2rem; height: 2rem;">{{row}}</div>
                <div *ngFor="let number of this.tableSolutionsService.numbers; let colIndex = index">
                    <app-cell [coordinates]="row + '.' + number"></app-cell>
                </div>
            </div>
        </div>
    </div>


</div>