<!-- <span class="cell" 
    [ngStyle]="{'width': cellSize+'rem', 'height': cellSize+'rem'}" 
    (click)="cellClicked($event)" 
    [ngClass]="clickedCounter == 0 ? 'status0' : clickedCounter == 1 ? 'status1':'status2'"></span> -->

<span class="cell" 
    [ngStyle]="{'width': '2rem', 'height': '2rem'}"
    (click)="cellClicked($event)"
    [ngClass]="{
        'white': this.tableSolutionsService.mapCoordinates.get(this.coordinates) == 'white',
        'red': this.tableSolutionsService.mapCoordinates.get(this.coordinates) == 'red',
        'green': this.tableSolutionsService.mapCoordinates.get(this.coordinates) == 'green',
    }"></span>
