<div class="centering-grid">


    <div>

        <!-- First Row -->
        <div class="header-table">
            <div class="number" style="width: 2rem; height: 2rem;"></div>
            <ng-container *ngFor="let number of this.tableSolutionsService.numbers; let rowIndex = index">
                <div class="number" style="width: 2rem; height: 2rem;">{{number}}</div>
            </ng-container>
        </div>

        <div *ngFor="let letter of this.tableSolutionsService.letters; let rowIndex = index">
            <div class="row">
                <div class="number" style="width: 2rem; height: 2rem;">{{letter}}</div>
                <div *ngFor="let number of this.tableSolutionsService.numbers; let colIndex = index">
                    <app-cell [coordinates]="letter + '.' + number"></app-cell>
                </div>
            </div>
        </div>
    </div>


</div>